[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.11.2"
boto3 = "==1.17.101"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
install = "ansible-galaxy install -r requirements.yml"
init = "terraform init && terraform apply -auto-approve"
deploy = "ansible-playbook playbook.yml --ssh-extra-args='-o ConnectionAttempts=120'"
